/* sets margin, padding, and border box for entire page */
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

/* Change color and font of body */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
}

/* updates nav bar to be horizontal, to the right of the page, and have padding */
.navigation li {
    list-style-type: none;
    display: inline;
    float: left;
    padding-left: 20px;
}

.navigation li a {
    text-decoration: none;
}

.navigation li a:hover {
    background-color: goldenrod;
}

/* changes background color of intro */
.intro {
    background-color: goldenrod;
}

/* change font size, family, and margin for intro h1 */
.intro h1 {
    font-size: xx-large;
    font-family: 'Times New Roman', serif;
}
/* change size and add padding for bio photo */
img {
    width: 50%;
    min-width: 200px;
    padding: 20px;
}

.bio {
    margin: 20px;
}

.placeholder-image-1 {
    width: 50%;
    min-width: 400px;
}

.appCard {
    background-color: darkgoldenrod;
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-width: 1px;
}

.contact {
    list-style-type: none;
    margin: 20px;
}

